html {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-size: 18px;
	font-family: Arial, sans-serif;
	line-height: 1.5;
	height: 100vh;
	background: #edc16f;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tonic{
	background: #edc16f;
	border: 3px solid black;
	border-radius: 5px;
	padding: 3px;
	margin: 7px 0;
	width: 20px;
	text-align: center;
}

.header{
	padding: 10px;
	margin: 0;
	text-align:center;
	flex-basis: 10%;
	box-sizing: border-box;
	background: #edc16f;
	border: 2px solid red;
}

.mid{
	box-sizing: border-box;
	flex-basis: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left-bar{
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	flex-basis: 60%;
	border-top: 1px solid black;
	background: #edc16f;
	overflow: auto;
}

.right-bar{
	margin: 0;
	padding: 10px;
	color: white;
	box-sizing: border-box;
	flex-basis: 40%;
	background: #4f2424;
}

.footer{
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	flex-basis: 10%;
	background: black;
	color: white;
}



.hand{
	height: 20vh;
	width: 90vw;
	min-height:110px;
}



#info {
	overflow: auto;
}


.myButton {
	margin: 3px;
	background-color:#F0B35F;
	color:#F54C0A;
	text-align: center;
	height: 35px;
	border: 2px solid black;
	border-radius: 5px;
	padding:2px;
	box-sizing: border-box;
	box-shadow: 4px 4px black;
	outline: none;
}

.myButton:hover {
	border: 2px solid brown;
	outline: none;
}

.myButton:active {
	box-shadow: none;
	outline: none;
}

.accord {
	color: darkblue;
}

@media (max-width: 767px) {
	.left-bar{
		flex-basis: 90%;
	}
	.right-bar{
		flex-basis: 10%;
	}
}